* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  color: #333333;
  font-size: 14px;
  font-family: arial;
}

header {
  order: 1;
  background: url(../assets/images/banner_small.jpg) no-repeat;
  height: 90px;
}

nav {
  order: 3;
}

.wrapper {
  order: 2;
  padding: 1em;
  flex-grow: 1;
}

.flex-item {
  flex-basis: 100%;
}

.flex-item>section {
  border-bottom: 1px solid #999;
  margin-bottom: 1em;
}

footer {
  order: 4;
  font-style: italic;
}

.hero p {
  line-height: 1.5;
}

.page-content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

header, .wrapper, footer {
  flex-shrink: 0;
}

.main-header {
  position: relative;
}

.main-header__logo {
  background: #fff url(../assets/images/logo_small.png) no-repeat;
  height: 50px;
  top: 20px;
  padding: 0 5em;
  background-position: top;
  position: absolute;
}

.main-header__banner img {
  width: 100%;
  display: block;
}

nav ul {
  padding: 2em 1em 1em 1em;
  flex-direction: column;
}

nav ul, footer {
  display: flex;
  background: #00A1D3;
  margin: 0;
}

nav li {
  padding: 1em;
  list-style: none;
  border: 1px solid #fff;
  border-radius: 15px;
  margin-bottom: 1em;
  background: url(../assets/images/mobile_link_arrow.png) no-repeat;
  background-position: center right;
}

nav li a {
  text-decoration: none;
  font-size: 13px;
  color: #ffffff;
  text-transform: uppercase;
}

body {
  font-size: 14px;
  font-family: arial;
}

.grid-container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-column-gap: 30px;
  margin: 20px;
}

.hero h1 {
  font-size: 28px;
  font-weight: normal;
  margin: 0;
}

.hero p>a {
  color: #00A1D3;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.details__profiles {
  display: grid;
  grid-template-columns: 20% 1fr;
  padding-bottom: 1em;
  border-bottom: 1px solid #999;
  margin-bottom: 1em;
}

.details__profiles:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.details__profiles-info h2 {
  margin: 0;
  font-size: 16px;
}

.details__profiles-info {
  margin-left: 5px;
}

.details__profiles-info p {
  margin-top: 0;
}

.details__profiles-info a {
  text-transform: uppercase;
  text-decoration: none;
  color: #00A1D3;
}

.details__profiles-info a::after {
  background-image: url(../assets/images/cta_arrow.png);
  content: " ";
  display: inline-block;
  width: 7px;
  height: 10.25px;
  margin: auto auto auto 10px;
}

label {
  color: #777;
  display: block;
}

.error label {
  color: red;
}

/* input {
  font-size: 16px;
  border: 1px solid #000;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  padding: 0.25em;
} */

.error input[type=text] {
  border: 1px solid red;
}

.errormessage {
  display: none;
  color: red;
  margin-top: 0.25em;
  margin-bottom: 0.7em;
}

form p, label {
  margin: 0;
  font-size: 11px;
}

/* form p::after, label::after {
  content: "*"
} */

label::after {
  content: "*"
}

input[type=text], select {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

select {
  height: 30px;
}

button {
  width: 100%;
  font-size: 13px;
  padding: 10px;
  border-radius: 4px;
  background: #00A1D3;
  color: #ffffff;
  margin-top: 1em;
  margin-bottom: 3em;
}

footer {
  padding: 0 2em;
  color: #666;
  font-size: 12px;
  background: #fff;
  text-align: center;
  display: block;
}

/*tablet */

@media screen and (min-width:481px) {
  header {
    order: 1;
    background: url(../assets/images/banner_medium.jpg) no-repeat;
    height: 200px;
  }
  .main-header__logo {
    background: #fff url(../assets/images/logo_medium.png) no-repeat;
    height: 64px;
  }
  nav {
    order: 2;
  }
  nav ul {
    padding: 1em;
    flex-direction: row;
  }
  nav li {
    padding: 0 1em;
    list-style: none;
    border: none;
    border-radius: 0px;
    margin-bottom: 0em;
    background: none;
  }
  .wrapper {
    order: 3;
  }
  .flex-container {
    flex-wrap: nowrap;
  }
  .flex-item.tablet-column-right {
    flex-basis: 35%;
  }
  .flex-item.tablet-column-left {
    flex-basis: 65%;
    margin-right: 3em;
  }
  .flex-item>section {
    border-bottom: none;
  }
  .details__profiles {
    display: flex;
    padding: 1em;
    border-bottom: none;
    flex-direction: column;
  }
  .details__profiles img {
    width: 30%;
  }
  .details__profiles-info {
    margin-left: 0;
    margin-top: 1em;
  }
  button {
    width: 70%;
  }
  footer {
    order: 4;
    background: #00A1D3;
    text-align: left;
    color: #fff;
  }
  .details__profiles:last-child {
    margin-left: 30px;
  }
}

/* desktop */

@media screen and (min-width:769px) {
  body {
    max-width: 980px;
    margin: 0 auto;
  }
  header {
    background: url(../assets/images/banner_large.jpg) no-repeat;
    height: 275px;
  }
  .main-header__logo {
    background: #fff url(../assets/images/logo_large.png) no-repeat;
    height: 84px;
    width: 150px;
    top: 30px;
    padding: 0 7em;
    background-position-x: center;
  }

  .flex-container .details__profiles {
    display: grid;
    grid-template-rows: 20% 1fr;
    margin-bottom: 0;
  }

  .details__profiles img {
    width: 100%;
  }

  .details__profiles:last-child {
    margin-left: 0;
  }

  .details__profiles-info {
    margin-left: 1em;
    margin-top: 0;
  }

  button {
    width: 50%;
    padding: 7px;
    margin-bottom: 0;
  }
}
