* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #333333;
  font-size: 14px;
  font-family: arial;
}

.main-header {
  position: relative;
}

.main-header__logo {
  background: white;
  position: absolute;
  top: 2em;
  padding: 10px 35px;
}

.main-header__banner img {
  width: 100%;
  display: block;
}

.main-header nav ul {
  display: flex;
  flex-direction: row;
  background: #00A1D3;
  margin: 0;
  padding: 0.8em 0 .8em 2em;
}

.main-header nav li {
  margin-right: 1em;
  padding: 0;
  list-style: none;
}

.main-header nav li a {
  text-decoration: none;
  font-size: 13px;
  color: #ffffff;
  text-transform: uppercase;
}

body {
  font-size: 14px;
  font-family: arial;
}

.grid-container {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-column-gap: 30px;
  margin: 20px;
}

.hero h1 {
  font-size: 28px;
  font-weight: normal;
  margin: 0;
}

.hero p > a {
  color: #00A1D3;
}

.flex-container {
  display: flex;
}

.details__profiles {
  display: grid;
  grid-template-columns: 20% 1fr;
}

.details__profiles-info h2 {
  margin: 0;
  font-size: 16px;
}

.details__profiles-info {
  margin-left: 5px;
}

.details__profiles-info p {
  margin-top: 0;
}

.details__profiles-info a {
  text-transform: uppercase;
  text-decoration: none;
  color: #00A1D3;
}

.details__profiles-info a::after {
  background-image: url(../assets/images/cta_arrow.png);
  content: " ";
  display: inline-block;
  width: 7px;
  height: 10.25px;
  margin: auto auto auto 10px;
}
